*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  font-family: $font-main;
  color: #000000;
  font-size: 14px;
  line-height: 18px;
  box-sizing: content-box;
  margin: 0;
  font-style: normal;
  text-decoration: none;
}

@font-face {
  font-display: swap;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src:url("../fonts/oswald/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswald/oswaldregular.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2"),
    url("../fonts/lato/Lato-Regular.woff") format("woff");
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
